<template name="newsDetail">
  {{#with selectedNewsItem}}
  <div class="container mt-4 news-container">
    <div class="top-section news-top-section">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">{{name}}</h1>
        </div>
      </div>
    </div>

    <div class="image-section text-center news-image-section">
      <img src="{{image}}" class="top-image img-fluid" alt="News Image">
      <small class="text-dark d-block mt-2 news-date-source">{{date}} / {{source}}</small>
    </div>

    <div class="content-section mt-4">
      <div class="row">
        <div class="col-md-1">
          <div class="d-flex flex-column justify-content-start mt-4 news-icons">
            <div><i class="fa fa-heart text-danger"></i> 28</div>
            <div><i class="fa fa-comment"></i> 21</div>
            <div><i class="fa fa-share"></i></div>
            <div><i class="fa fa-bookmark"></i></div>
          </div>
        </div>

        <div class="col-md-7 mt-3 news-content-section">
          <div class="news-content">
            <p>{{description}}</p>
          </div>
        </div>

        <!-- Dummy News Section on the Right -->
        <div class="col-md-3 dummy-news-section">
          <h5>Recommended for you</h5>
          <div class="dummy-news">
            <div class="card mb-4">
              <img src="/assets/dummyNews1.png" class="card-img-top" alt="Dummy Image 1">
              <div class="card-body">
                <h6 class="card-title">Millions rely on emergency pandemic benefits for rent, food, and medicine. Now,
                  that lifeline could disappear.</h6>
              </div>
            </div>
            <h5>Based on Like</h5>
            <div class="card mb-4">
              <img src="/assets/dummyNews2.png" class="card-img-top" alt="Dummy Image 2">
              <div class="card-body">
                <h6 class="card-title">The ADA is turning 30. It's time that it included digital accessibility.</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center mt-4">
          <button class="btn btn-primary back-to-news">Back to News</button>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
</template>