<template name="footer">
    <footer class="footer">
      <div class="container">
        <div class="row">
          <!-- Logo Section -->
          <div class="col-md-4 text-center text-md-left">
            <img src="path/to/logo.png" alt="Logo" class="footer-logo">
            <p class="footer-copyright">© 2024 News Site</p>
          </div>
          <!-- Links Section -->
          <div class="col-md-4">
            <ul class="footer-links">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Do not sell my personal info</a></li>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <!-- Social Media Section -->
          <div class="col-md-4 text-center text-md-right">
            <ul class="footer-social">
              <li><a href="#" class="rss-icon"><i class="fa fa-rss"></i></a></li>
              <li><a href="#" class="twitter-icon"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="facebook-icon"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="reddit-icon"><i class="fa fa-reddit"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </template>