<template name="navbar">
  <nav class="navbar navbar-expand-lg navbar-white bg-white sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/logo.png" alt="Logo" class="navbar-logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Corona Updates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-tag="general">General</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-tag="economy">Economy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-tag="sport">Sport</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-tag="world">World</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-tag="technology">Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-tag="entertainment">Entertainment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
          </li>
        </ul>
        <div class="navbar-icons">
          <a href="#" class="nav-icon"><i class="fa fa-user" aria-hidden="true"></i></a>
          <a href="#" class="nav-icon"><i class="fas fa-search"></i></a>
          <a href="#" class="nav-icon"><i class="fas fa-bars"></i></a>
        </div>
      </div>
    </div>
  </nav>
  
</template>