/* Navbar genel stilleri */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar içerik konteyneri */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Navbar marka/logo */
.navbar-brand {
  display: flex;
  align-items: center;
}

/* Navbar logo boyutları */
.navbar-logo {
  height: 42px;
  width: 47px;
}

/* Navbar öğeleri */
.navbar-items {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

/* Navbar öğe stilleri */
.nav-item {
  margin: 0 15px;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif; /* Nunito Sans benzeri font */
  color: black; /* Tag rengi siyah */
}
.nav-item .nav-link {
  color: black; /* Tag rengini siyah yap */
  font-family: 'Nunito Sans', sans-serif; /* Yazı tipini Nunito Sans veya benzeri yap */
  text-decoration: none;
  font-size: 85%;
}

/* Navbar öğe hover stilleri */
.nav-item:hover {
  color: #000;
}

/* Navbar ikon konteyneri */
.navbar-icons {
  display: flex;
  align-items: center;
  margin-left: auto; /* İkonları sağa yasla */
}

/* Navbar ikon stilleri */
.nav-icon {
  margin-left: 30px; /* İkonlar arası mesafe */
  color: #000;
  text-decoration: none;
}

/* Navbar ikon font boyutu */
.nav-icon i {
  font-size: 20px;
}

/* Navbar ikon hover stilleri */
.nav-icon:hover {
  color: #000; 
}
