
<template name="navbar">
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-brand">
        
        <img src="/assets/logo.png" alt="Logo" class="navbar-logo">
      </div>
      <div class="navbar-items">
        <a href="#" class="nav-item" data-tag="general">General</a>
        <a href="#" class="nav-item" data-tag="business">Business</a>
        <a href="#" class="nav-item" data-tag="sports">Sports</a>
        <a href="#" class="nav-item" data-tag="world">World</a>
        <a href="#" class="nav-item" data-tag="technology">Technology</a>
        <a href="#" class="nav-item" data-tag="entertainment">Entertainment</a>
      </div>
      <div class="navbar-icons">
        
        <a href="#" class="nav-icon"><i class="fas fa-user"></i></a>
        <a href="#" class="nav-icon"><i class="fas fa-search"></i></a>
        <a href="#" class="nav-icon"><i class="fas fa-bars"></i></a>
      </div>
    </div>
  </nav>
</template>