<template name="locationFilter">
  <h5 style="size: 15px;">Location News</h5>
  <div class="card mt-0">
    <div class="card-body">
      <form id="locationForm">
        <div class="form-group">
          <label for="locationInput">Get Location specific News</label>
          <input type="text" class="form-control" id="locationInput" placeholder="Enter Your Location">
        </div>
        <br>
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>
    </div>
  </div>
</template>