.footer {
  padding: 20px 0;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.logo img {
  width: 32px;
  margin-left: 45%;
  align-items: center;
  padding-right: 0%;
}

.logo p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 0%;
}

.text-left,
.text-center,
.text-right {
  font-size: 12px;
  align-items: center;
}

.text-center {
  margin-top: 1%;
  padding-left: 0;
  padding-right: 15px;
}

.text-right {
  margin-top: 20px;
  padding-left: 10%;
}

.right-icon a {
  text-align: center;
  margin-right: 0;
  padding-left: 10%;
}