.footer {
  padding: 20px 0;
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  margin-top: 3%; 
}
.logo p{
  font-size: 12px;
}
.text-left{
  font-size: 12px;
  align-items: center;
  margin-top: 1%;
  padding-right: 0;
  padding-left: 80px;
}

.text-right{
  font-size: 12px;
  padding-right:60px ;
  margin-top: 20px;
}
.right-icon a{
  text-align: center;
  padding-left: 7%;
  margin-right: 7px;
}
