<template name="footer">
  <footer class="footer bg-dark text-white">
    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-md-4 logo text-left">
          <img src="/assets/footerLogo.png" alt="NBC Logo" class="mb-3">
          <p>copyright © 2020 | NBC NEWS</p>
        </div>
        
        <div class="col-md-4 text-center">
          <a href="#" class="text-white d-block">Privacy Policy</a>
          <a href="#" class="text-white d-block">Do not sell my personal info</a>
          <a href="#" class="text-white d-block">Terms of Service</a>
          <a href="#" class="text-white d-block">nbcnews.com Site Map</a>
        </div>
        
        <div class="col-md-4 text-right">
          <div class="mb-3">
            <a href="#" class="text-white ml-2">About</a>
            <a href="#" class="text-white ml-2">Contact</a>
            <a href="#" class="text-white ml-2">Careers</a>
            <a href="#" class="text-white ml-2">Coupons</a>
          </div>
          <div class="right-icon">
            <a href="#" class="text-white mr-2"><i class="fas fa-rss"></i></a>
            <a href="#" class="text-white mr-2"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white mr-2"><i class="fab fa-reddit"></i></a>
            <a href="#" class="text-white"><i class="fab fa-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
