<template name="articlePreview">
  <div class="article-preview-container">
    <div class="row">
      <div class="col-lg-4">
        <div class="article-preview-image-container">
          <img src="assets/dummy1.png" alt="Article Image" class="article-preview-image">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="article-preview-text-container">
          <h2 class="article-preview-title">Cake meme reflects coronavirus absurdity in a world where nothing is what it seems</h2>
          <p class="article-preview-text">Earlier this month, a viral video depicting hyper-realistic cakes as everyday items had folks on social media double-guessing every other post, and sometimes even their own realities, effectively launching the next meme: "is this real or is this cake?"</p>
          <p class="article-preview-meta">2 hours ago By Lucy Hiddleston | 4min Read</p>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-12">
        <div class="breaking-news">
          <span class="breaking-news-container">Breaking News</span>
          <a class="article-preview-breaking-text">Kanye West says he's running for president in 2020.</a>
        </div>
      </div>
    </div>
  </div>
</template>
