.article-preview-container {
    padding-top: 1rem;
  }
  
  .article-preview-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
  }
  
  .article-preview-image-container {
    margin-right: 1rem;
  }
  
  .article-preview-image {
    width: auto;
    max-height: 200px;
  }
  
  .article-preview-text-container {
    flex-grow: 1;
  }
  
  .article-preview-title {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .article-preview-text {
    font-size: 1rem;
    color: #333;
  }
  
  .article-preview-meta {
    font-size: 0.875rem;
    color: #666;
  }
  
  .breaking-news {
    padding: 1rem;
    background-color: #C31815;
    justify-content: center;
    flex: 1;
  }

  
  .breaking-news-container {
    background-color: white ;
    padding: 0.2rem 0.5rem;
    color: #C31815;
    font-size: 1.25rem;
   
  }
  .article-preview-breaking {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    
  }
  
  .article-preview-breaking-text {
    font-size: 1rem;
    color:white;
   
  }