<template name="relatedTopics">
    <h5 style="margin-top: 25px;">Related Topics</h5>
    <div class="row">
      {{#each topics}}
      <div class="col-md-3 custom-col" style="flex: 0 0 20%; max-width: 20%;">
        <div class="card mb-4" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: 0.3s; width: 100%;">
          <img src="{{image}}" class="card-img-top" alt="...">
          <div class="card-body" style="padding: 10px;">
            <h5 class="card-title" style="font-size: 14px;">{{title}}</h5>
            <p class="card-text" style="font-size: 12px;">{{description}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              <i class="fa fa-heart"></i> {{likes}}
              <i class="fa fa-comment ml-3"></i> {{comments}}
              <i class="fa fa-bookmark ml-3"></i>
            </small>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </template>
  