body {
    padding-top: 20px;
  }
  
  .custom-col {
    flex: 0 0 20%; /* Her bir kolon genişliği %20 olacak şekilde ayarla */
    max-width: 20%;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-footer i {
    margin-right: 5px;
  }
  
  .card-body {
    padding: 10px; /* İç boşlukları azaltın */
  }
  
  .card-title {
    font-size: 14px; /* Başlık boyutunu azaltın */
  }
  
  .card-text {
    font-size: 12px; /* Metin boyutunu azaltın */
  }