<template name="locationFilter">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Location News</h5>
      <form id="location-form">
        <div class="form-group">
          <label for="locationInput">Get Location specific News</label>
          <input type="text" class="form-control" id="locationInput" placeholder="Enter Your Location">
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>
    </div>
  </div>
</template>
